html{
    
    scroll-behavior: smooth;
}
.menu-opened{
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    transform: scale(.8);
    @include hover{
        transform: scale(.9);
    }
    font-size: 0;
}

.toggler{
    display: none;
    font-size: 0;
    
    @media screen and (max-width:960px){
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
        transform: rotate(0deg);
        @include tr();
        .menu-opened & {
            transform: rotate(135deg);
        }
    }
}

.menu{
    list-style: none;
    text-transform: capitalize;
    padding: 0;
    @media screen and (max-width:960px){
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $secondary-color;
        padding: 20px;
        margin: 0;
        transform: translate(0, -100%);
        opacity: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .menu-opened & {
            transform: translate(0,0);
            opacity: 1;
        }
    }
    &__item{
        display: inline-block;
        margin-left: 40px;
            & + &:before {
                content: '';
                height: 20px;
                border-left: 1px solid fade-out($color: $text-color, $amount: .5);
                transform: rotate(15deg) translate(0, 3px);
                position: absolute;
            }

            @media screen and (max-width:960px){
                display: block;
                text-align: center;
                padding: 20px;
                margin: 0;
                & + &:before{
                    display: none;
                }
            }
    }
    &__link{
        padding: 10px 20px 10px 60px;
        color: $text-color;
        font-weight: 700;
        text-decoration: none;
        
        @include hover{
            color: $primery-color;
        }
        @media screen and (max-width:960px){
            padding: 10px;
            font-size: 2em;
        }
        
    }
}

